
* {
    box-sizing: border-box;
    
}

body { 
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient( #dadd18, #0952da);
    color:black;
    padding-left:1.5rem;
}

h1,h2 {
    color: #b11670;
    font-weight: 900;
    font-family: 'Encode Sans', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

nav { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:.75rem;
    background-color: #b11670;
}

h1{
    margin-top: 1.8em;
}
a{
    color:rgb(235, 224, 224);
}
nav a {
    text-decoration: none;
}

nav li {
    display: inline;
    margin-right: 1rem;
    margin-left: .5rem;
    font-size:1.3rem;
}

nav ul {
    padding: 0;
    margin: 0;
    padding-top: .5rem;
    display: inline-block;
}


nav a:hover, nav a:focus, nav a:active {
    color: #dadd18;
    border-bottom: .3rem;
    border-bottom-color: #dadd18;
    border-bottom-style: solid;
}

.links a:hover, .links a:focus, .links a:active {
    color: #b11670;
    border-bottom: .1rem;
    border-bottom-color: #dadd18;
    border-bottom-style: solid;
}
#home_page {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;
}

.flex1{
    flex-basis: 25%;
}

.flex2{
    flex: 1;
    margin:.2rem;
}

.flex3{
    flex-basis: 25%;
    flex-shrink: 0;
    
}
#opioid_table {
    max-width: 100%;
    height: auto;
}
.card-pics {
    width:50%;
}



@media (min-width:770px)
{
    #home_page {
        flex-flow: row;
        justify-content: space-around;  
    }
    
    .flex1{
        flex-basis: 25%;
    }
    
    .flex2{
        flex: 1;
        margin:10px;
    }
    
    .flex3{
        flex-basis: 25%;
        flex-shrink: 0;
    }

    .card-pics {
        width:35vw;
    }
}

@media (min-width:850px){
    .card-pics {
        width:30vw;
    }
}

@media (min-width:990px){
    .card-pics {
        width:35vw;
    }
}

@media (min-width:1200px)
{
    .card-pics {
        width:50%;
    }
}